$ralley-red:#d82427;
.wrap{
	max-width:1220px;
	margin:auto;
}
.top-banner{
	background:#f2f2f2 url('../images/top-gradient.png') repeat-x bottom left;
	figure{
		max-width: 1220px;
		margin:auto;
		img{
			width:100%;
		}
	}
}
.main-section{
	.intro{
		padding:40px 0;
		text-align: center;
		h1{
			font-size: 46px;
			line-height: 54px;
			margin-bottom: 10px;
			color: $ralley-red;
		}
		p{
			font-size: 20px;
			font-weight: normal;
			line-height: 30px;
			width: 60%;
			margin: 0 auto 30px;
		}
	}
}
.intro-column{
	@extend .clearfix;
	margin-bottom:50px;
}

.column{
	width: 40%; /* 960 */
	width: -webkit-calc( (100% - 240px)/3 ); /* 240 */
	width: -moz-calc( (100% - 240px) /3); /* 240 */
	width: calc( (100% - 240px) /3); /* 240 */
	float: left;
	text-align:center;
	margin:0 40px;
	h3{
		font-size: 30px;
		line-height: 32px;
		margin:0 0 10px;
		font-weight: normal;
	}
}

.slider-section{
	background:#e6e2e2;
	padding:40px 0;
}
.slider{
	max-width: 960px;
	margin: auto;
	h2{
		font-size: 35px;
		text-transform: uppercase;
		text-align: center;
		margin: 25px 0 40px;
		font-weight: normal;
		color: $ralley-red;
	}
}


.bx-wrapper {
	position: relative;
	margin: 0;
	padding: 0;
	*zoom: 1;
}

.bx-wrapper img {
	width: 100%;
	display: block;
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {
	border: none;
	left: -5px;
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: -30px;
	width: 100%;
}

/* LOADER */

.bx-wrapper .bx-loading {
	min-height: 50px;
	background: url(../images/bx_loader.gif) center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	padding-top: 20px;
	position: absolute;
	bottom: 140px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background: #fafafa;
	text-indent: -9999px;
	display: block;
	width: 14px;
	height: 14px;
	margin: 0 5px;
	outline: 0;
	@include border-radius(100%);
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #515151;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
	left: -60px;
	background: url(../images/slider-pager.png) no-repeat -25px 0;
}

.bx-wrapper .bx-next {
	right: -60px;
	background: url(../images/slider-pager.png) no-repeat 0 0;
}

.bx-wrapper .bx-prev:hover {
	opacity:1;
}

.bx-wrapper .bx-next:hover {
	opacity:1;
}

.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 37%;
	margin-top: -16px;
	outline: 0;
	width: 25px;
	height: 66px;
	text-indent: -9999px;
	z-index: 9999;
	opacity:0.7;
}

.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
	text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	background: url(../images/controls.png) -86px -11px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
	background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	background: url(../images/controls.png) -86px -44px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
	background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #666\9;
	background: rgba(80, 80, 80, 0.75);
	width: 100%;
}

.bx-wrapper .bx-caption span {
	color: #fff;
	font-family: Arial;
	display: block;
	font-size: .85em;
	padding: 10px;
}

.caption{
	text-align: center;
	padding:15px 0 0px;
	width: 70%;
	margin: auto;
	h3{
		font-size: 35px;
		text-transform: uppercase;
		text-align: center;
		margin: 20px 0 10px;
		font-weight: normal;
	}
	p {
		line-height: 28px;
		font-size: 18px;
	}
}

.result{
	padding:40px 0;
}
.result-block{
	.heading-title{	
		font-size: 35px;
		text-transform: uppercase;
		text-align: center;
		margin: 25px 0 40px;
		font-weight: normal;
		font-family:$font;
		color: $ralley-red;
	}
}

.result-wrap{
	@extend .clearfix;
	margin: 50px 0;
	.column{
		width: 33%; /* 960 */
		width: -webkit-calc( 100% / 3 );
		width: -moz-calc( 100% / 3); 
		width: calc( 100% / 3); 
		float: left;
		text-align:center;
		padding:0 60px;
		margin:0;
		@include box-sizing;
		h2{
			font-size: 44px;
			line-height: 54px;
			font-weight: normal;
			margin-bottom: 2px;
		}
		h4{
			font-size: 25px;
			font-weight: normal;
			font-family:$font;
		}
	}

}

.thank-you{
	text-align: center;
	font-size: 79px;
	line-height: 120px;
	border-top: grey solid 1px;
	border-bottom: grey solid 1px;
	margin: 80px auto 30px;
	max-width: 480px;
}
.thank-you.slideUp{
	 -webkit-animation-name: slideUp;
	   -webkit-animation-duration: 1s;
	   -webkit-animation-timing-function: ease;
}

